{% extends "basic.html" %}

{% block content %}
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <h2><a href="{% url 'polls:detail' question.id %}">{{ question.title }}</a></h2>
    <p>{{ question.short_description }}</p>
    <li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a> </li>
    {% endfor %}
</ul>
{% else %}
     <p>
         Нет постов!
     </p>

{% endif %}
<a href="{% url 'polls:create_question' %}">Создать пост</a>
{% endblock %}